################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sem4_Lab1_UnitTesting(Complete)/v16/Server/sqlite3/db.lock
